.search {
  border: 1px solid;
  border-radius: 8px;
  background-color: var(--bag-search);
  color: white;
  font-size: var(--font-size-lg);
  height: 24px;
  margin-bottom: 8px;
  outline: none;
  padding: 6px 10px;
  width: 300px;
}
::placeholder{
  color: white;
}

.searchFilm {
  display: grid;
}
.searchFilm a{
  background-color: var(--bag-itemSearch);
  border-radius: 12px;
  margin: 2px 0 0 0;
  padding: 0 0px 0px 9px;
  text-decoration: none;
}
.searchFilm a:hover {
  background-color: var(--bag-item-secondary);
}
.searchItem {
  color: white;
  font-size: var(--font-size-lg);
  font-weight: 400;
}
.searchItem:hover{
  color: var(--rosa);
}