.films__container {
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 10px;
    justify-content: center;
}
.films__container a{
    text-decoration: none;
}
.films__card {
    display: grid;
    background-color: var(--transparencia);
    border-radius: 12px;
    justify-items: center;
    margin: 2%;
}
.films__card:hover {
    cursor: pointer;
    box-shadow: 1px 2px 11px 12px #dccdcd ;
    transition: box-shadow, 1s;
}
.films__card-image {
    border-radius:12px 12px 0px 0px;
    width: 100%;
}
.card__body{
    font-size: var(--font-size-md);
    margin: 0 14px 10px 14px;
}
.card__body-title {
    font-size: var(--font-size-lg);
    font-weight: var(--m-bold);
    color: var(--color-titles);
}
.not-found {
    text-align: center;
    font-size: var(--font-size-bg);
    font-weight: var(--m-bold);
}
.card__body_description-date{
    text-align: end;
}