.search {
  border: 1px solid;
  border-radius: 8px;
  color: white;
  font-size: var(--font-size-lg);
  height: 18px;
  margin-bottom: 12px;
  padding: 5px 8px;
  outline: none;
  width: 300px;
  background-color: #ffffff17;
}
::placeholder{
  color: white;
}

.searchFilm {
  display: grid;
}
.searchFilm a{
  text-decoration: none;
  background-color: #9f969633;
  padding: 0 0px 0px 9px;
  margin: 2px 0 0 0;
  border-radius: 12px;
}
.searchFilm a:hover {
  background-color: #fce8f0;
}
.searchItem {
  color: white;
  font-size: var(--font-size-md);
  font-weight: 400;
}
.searchItem:hover{
  color: #f787b0;
}