:root {
  /* colors */
  --color-titles:#5a5858;
  --rosa: #e78193;
  --bag-search: #ffffff17;
  --bag-itemSearch:#9f969633;
  --bag-item-secondary:#fce8f0;

  /* fonts */
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-bg: 18px;
  --font-size-b: 24px;

  --regular: 400;
  --medium: 500;
  --m-bold: 600;
  --bold: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhaijaan 2', cursive;
  background-image: linear-gradient(180deg, #f3a8c3 0%, #f6bad0 33%, #fadae7 66%, #fef8fa 100%);
  background-repeat: no-repeat;
}
.container {
  margin: 0 12% 0 12%;
}
.banner {
  display: grid;
  grid-gap: 16px;
  justify-items: center;
  justify-content: center;
  margin: 20px 0px;
}
.ghibli_logo {
  width: 340px;
}
footer{
  display: grid;
  font-size: var(--font-size-lg);
  font-weight: var(--m-bold);
  justify-items: center;
  letter-spacing: 1px;
  margin: 12px 0px;

}
.socialMedia{
  text-align: center;
}
.link-social {
  color: black;
  cursor: pointer;
  margin-right: 21px;
  text-decoration: none;
}